<!DOCTYPE html>
<html lang="{{FF:WebsiteLang:FF}}" dir="{{FF:WebsiteLangDir:FF}}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height, target-densitydpi=device-dpi">
	<meta property="article:publisher" content="{{FF:WebsiteURI:FF}}" />
	<meta property="og:site_name" content="{{FF:WebsiteTitle:FF}}" />
	<meta property="og:type" content="website" />
	<meta name="author" content="{{FF:AuthorName:FF}}">
	<meta name="twitter:site" content="{{FF:WebsiteTwitter:FF}}" />
	<meta name="twitter:creator" content="{{FF:AuthorTwitter:FF}}" />
	<meta name="twitter:card" content="summary" />
	<meta property="og:title" content="{{FF:WebsiteTitle:FF}}" />
	<meta name="twitter:text:title" content="{{FF:WebsiteTitle:FF}}" />
	<meta name="description" content="{{FF:WebsiteDescription:FF}}">
	<meta property="og:description" content="{{FF:WebsiteDescription:FF}}" />
	<meta property="og:image" content="{{FF:WebsiteURI:FF}}/res/img/{{FF:WebsiteIcon:FF}}" />
	<meta name="twitter:image" content="{{FF:WebsiteURI:FF}}/res/img/{{FF:WebsiteIcon:FF}}" />
	<meta property="og:url" content="{{FF:WebsiteURI:FF}}" />
	<link rel="alternate" type="application/rss+xml" title="{{FF:WebsiteTitle:FF}}" href="{{FF:WebsiteURI:FF}}/rss.xml" />
	<link rel="stylesheet" href="/res/css/main.css">
	<link rel="icon" type="image/png" href="/res/img/{{FF:WebsiteIcon:FF}}" />
	<title>{{FF:WebsiteName:FF}}: Home</title>
</head>

<body>
	<div class="content">
		<div class="section">
			<img class="websiteIcon" src="/res/img/{{FF:WebsiteIcon:FF}}" alt="" />
			<h1 class="title">{{FF:WebsiteTitle:FF}}</h1>
			<p>
				{{FF:WebsiteDescription:FF}}
			</p>
		</div>
		<div class="section">
			<h2>Posts</h2>
			{{FF:PostsList:FF}}
		</div>
		<div class="footer">
			<img class="formatforest" src="/res/img/formatforest.png" alt="Powered by Format Forest" title="Powered by Format Forest" />
			<p>
				Contact information:
				{{FF:AuthorEmail:FF}} &bull;
				{{FF:AuthorTwitter:FF}} &bull;
				{{FF:AuthorLinkedIn:FF}} &bull;
				{{FF:AuthorFacebook:FF}} &bull;
				{{FF:AuthorInstagram:FF}}
			</p>
			<p>
				&copy; <span id="footerYear">{{FF:CurrentYear:FF}}</span> {{FF:AuthorName:FF}}. All Rights Reserved.
			</p>
		</div>
	</div>
</body>

</html>