html {
	background-color: #FDFDFD;
	color: #000;
	height: 100%;
}

body {
	font-family: sans-serif;
	max-width: 800px;
	margin: 10px auto;
	padding: 0 15px;
	height: 100%;
	font-size: 16px;
	line-height: 28px;
}

body::after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

a {
	text-decoration: none;
}

.straight {
	font-style: normal !important;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: sans-serif;
	font-weight: normal;
	text-align: left;
	margin-bottom: 5px;
}

h1 {
	font-size: 2.25em;
}

h2 {
	font-size: 2.00em;
}

h3 {
	font-size: 1.70em;
}

h4 {
	font-size: 1.5em;
}

strong {
	color: #333;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0));
	outline: none;
	width: 80%;
	margin: 30px auto;
	padding: 0;
}

code {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 2px;
	border: 1px solid #CCC;
	border-radius: 2px;
}

span.strike {
	text-decoration: line-through;
}

div.content {
	width: 100%;
	text-align: justify;
}

div.content div.section h2 {
	font-size: 2em;
	line-height: 1.2em;
}

div.content div.section span.date {
	margin: 0 0 0 0;
	font-style: italic;
	color: #AAA;
	display: block;
}

blockquote {
	font-family: serif;
	font-style: italic;
	margin: 0 auto;
	width: 80%;
	padding: 20px;
	border: 3px solid rgba(250, 250, 250, 0.5);
	box-shadow: 0 0 5px #999;
}

div.content div.section img.figure,
div.content div.section img.figuresmall,
div.content div.section img.figuresemiwide,
div.content div.section img.figurewide {
	margin: 20px auto;
	display: block;
	max-width: 60%;
	max-height: 300px;
	border: 3px solid rgba(250, 250, 250, 0.5);
	box-shadow: 0 0 5px #999;
	border-radius: 5px;
}

div.content div.section img.websiteIcon {
	width: 128px;
	height: auto;
	float: left;
	margin-right: 20px;
}

div.content div.section h1.websiteName {
	position: relative;
	top: 10px;
}

div.content div.section p.websiteDescription {
	margin-top: 30px;
	min-height: 130px;
}

div.content div.section img.figuresmall {
	max-width: 40%;
	max-height: 200px;
}

div.content div.section img.figuresemiwide {
	max-width: 80%;
	max-height: 100%;
}

div.content div.section img.figurewide {
	max-width: 100%;
	max-height: 100%;
}

div.content div.footer {
	border-top: 1px solid #CCC;
	margin-top: 50px;
	color: #666;
	font-size: 0.8em;
	padding-top: 5px;
	padding-bottom: 10px;
}

div.content div.footer img.formatforest {
	width: auto;
	height: 64px;
	float: left;
	margin-right: 20px;
}

div#commento {
	margin-top: 50px !important;
}


@media all and (max-width: 800px) {
	div.content {
		margin-left: 0;
		max-width: 100%;
	}
}